<ul class="scout-list">
  <li class="scout level  is-mobile" *ngFor="let scout of scouts$ | async" [routerLink]="['/scout', scout.scoutId]">
    <div class="level-left">
      <div class="level-item is-block">
        <p class="scout-name">{{scout.name}}</p>
        <div>
          scout-id:
          <span *ngIf="!scout.isLoading" class="scout-id">{{scout.scoutId}}</span>
          <span *ngIf="scout.isLoading" class="scout-loading-indicator is-inline-block"></span>
        </div>
      </div>
    </div>

    <div *ngIf="!scout.isLoading" class="level-right">
      <span class="icon is-medium">
        <i class="level-item fa fa-lg fa-sign-out" (click)="emitLeaveScout(scout.scoutId)"></i>
      </span>
    </div>
  </li>
</ul>
