<div class="columns">
  <div class="column">
    <h1 class="title has-text-primary">
      Troop:
      <ng-container *ngIf="troop$ | async as troop; else loading">
        {{ troop.name }}
      </ng-container>
      <ng-template #loading>
        Loading...
      </ng-template>
    </h1>
  </div>

  <div class="column scouts-list">
    <p *ngFor="let scout of scouts$ | async">{{scout.name}}</p>
  </div>

  <div class="column box actions">
      <app-create-scout-button (createScout)="createScout($event)"></app-create-scout-button>
      <app-attendance-check-button [troopId]="troopId"></app-attendance-check-button>

      <!--suppress HtmlFormInputWithoutLabel -->
      <input #dateInput type="date" (createScout)="createScout($event)"/>
  </div>
</div>


