service cloud.firestore {
  match /databases/{database}/documents {

    match /scouts/{scout} {
      allow read, write: if isSignedIn() && scout in get(/databases/$(database)/documents/users/$(request.auth.uid)).data.scouts
  	}

    match /users/{userId} {
    	allow read, write: if isUserId(userId)
    }
  }
}

function isUserId(userId) {
	return isSignedIn() && request.auth.uid == userId;
}

function isSignedIn() {
   return request.auth != null;
}
