service cloud.firestore {
  match /databases/{database}/documents {

    match /troops/{troop} {
      allow read: if isSignedIn() && troop in get(/databases/$(database)/documents/users/$(request.auth.uid)).data.troops;
      match /scouts/{scout} {
            allow read: if isSignedIn() && troop in get(/databases/$(database)/documents/users/$(request.auth.uid)).data.troops;
            match /presence/{date} {
              allow read, write: if isSignedIn() && troop in get(/databases/$(database)/documents/users/$(request.auth.uid)).data.troops;
            }
      }
  	}

    match /users/{userId} {
    	allow read, write: if isUserId(userId)
    }
  }
}

function isUserId(userId) {
	return isSignedIn() && request.auth.uid == userId;
}

function isSignedIn() {
   return request.auth != null;
}
