<div class="columns">
  <div class="column">
    <h1 class="title has-text-primary">
      Scout:
      <ng-container *ngIf="scout$ | async as scout; else loading">
        {{ scout.name }}
      </ng-container>
      <ng-template #loading>
        Loading...
      </ng-template>
    </h1>
  </div>

  <div class="column children-list">
    <p *ngFor="let child of children$ | async">{{child.name}}</p>
  </div>

  <div class="column box actions">
      <app-create-child-button (createChild)="createChild($event)"></app-create-child-button>
      <app-attendance-check-button [scoutId]="scoutId"></app-attendance-check-button>

      <!--suppress HtmlFormInputWithoutLabel -->
      <input #dateInput type="date" (createChild)="createChild($event)"/>
  </div>
</div>


