<form (submit)="register()">
  <div class="field">
    <div class="control">
      <input
        [(ngModel)]="model.email"
        class="input is-rounded padding"
        name="email"
        aria-label="email"
        placeholder="E-Mail"
        type="email"
      >
    </div>
  </div>
  <div class="field">
    <div class="control">
      <input
        [(ngModel)]="model.password"
        class="input is-rounded padding"
        name="password"
        aria-label="password"
        placeholder="Password"
        type="password"
      >
    </div>
  </div>
  <div class="field">
    <div class="control">
      <input
        [(ngModel)]="model.passwordRepeat"
        class="input is-rounded padding"
        name="passwordRepeat"
        aria-label="Password Repeat"
        placeholder="Password Repeat"
        type="password"
      >
    </div>
    <p *ngIf="passwordDoNotMatch" class="help is-danger">Password and Password Repeat do not match</p>
  </div>
  <div class="buttons">
    <button
      class="button is-primary is-rounded is-fullwidth"
      type="submit"
    >Register
    </button>
    <a
      class="button is-link is-rounded is-fullwidth"
      routerLink="/login"
    >Go to Login
    </a>
  </div>
</form>
