<div class="columns">
  <div class="column">
    <h1 class="title has-text-primary">Scouts</h1>
  </div>

  <div class="column scout-list">
    <app-scout-list
      [scoutsObservables$]="scoutsObservables$"
      [loadingScoutNames$]="loadingScoutNames$"
    ></app-scout-list>
  </div>

  <div class="column">
    <app-join-scout-form class="box" (joinScout)="joinScout($event)"></app-join-scout-form>
    <app-create-scout-form class="box" (createScout)="createScout($event)"></app-create-scout-form>
  </div>
</div>
