@import "~bulma/sass/utilities/initial-variables";

.troop-list {
  .troop-name {
    font-weight: bold;
    margin-bottom: 2px;
  }

  .troop-id {
    color: $blue;
  }

  .troop-loading-indicator {
    $grey-lighter: $blue;
    @import "~bulma/sass/utilities/mixins";
    @include loader();
    position: relative;
    top: 3px;
  }
}
