html {
  overflow-y: auto;
}

html, body, head {
  margin: 0;
  padding: 0;

  * {
    font-family: 'Roboto', arial, sans-serif;
  }
}

$fa-font-path: "../node_modules/font-awesome/fonts";
@import '~font-awesome/scss/font-awesome.scss';
@import "../node_modules/bulma/bulma.sass";
@import "../node_modules/bulma-calendar/src/sass/index";
