<app-modal (close)="close.next()">
  <div class="columns">
    <div class="column">
      <h1 class="title has-text-primary">create child</h1>
    </div>

    <div class="column">
      <form class="create-child-form">
        <div class="field">
          <div class="control">
            <input
              [(ngModel)]="name"
              class="input is-rounded padding"
              aria-label="childName"
              name="childName" placeholder="child name" type="text">
          </div>
          <p
            *ngIf="childNameEmpty"
            class="help is-danger"
          >The child name field can't be Empty</p>
        </div>
        <button (click)="onSubmit()" class="button is-link is-rounded is-fullwidth" type="submit">create new</button>
      </form>
    </div>
  </div>
</app-modal>
